<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="port" value="8080" />
    <add key="staticdir" value="www" />
    <add key="DbgHost" value="127.0.0.1"/>
    <add key="DbgPort" value="65432"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
